{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Home{% endblock title %}
{% block content %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Discover. Learn. Enjoy</h1>

                <h6 class="text-center">platform for creatives around the world</h6>

                <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">
                            
                        </span>

                        <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Design, Code, Marketing, Finance ..." aria-label="Search">

                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Web Design</h5>

                                {% comment %} <p class="mb-0">When you search for free CSS templates, you will notice that TemplateMo is one of the best websites.</p> {% endcomment %}
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                        </div>

                        <img src="{% static '' %}images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="{% static '' %}images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Finance</h5>

                                <p class="text-white">Topic Listing Template includes homepage, listing page, detail page, and contact page. You can feel free to edit and adapt for your CMS requirements.</p>

                                <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto">25</span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                </li>
                            </ul>

                            <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="explore-section mt-5" id="section_02">
    <div class="container">
        <div class="row text-center">
            <div class="col-8 mx-auto text-center">
                <h2 class="mb-4">Resume Analysis</h1>
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="file" name="resume" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button class="btn btn-primary text-light" type="submit" id="inputGroupFileAddon04">Predict Resume</button>
                    </div>
                </form>
            </div>
            
        </div>
        {% if is_posted == True %}
                <div class="row mt-5">
                    <div class="col-md-6 card py-3">
                        <ul>
                            <h4 class="my-3 text-muted">Personal Information</h4>
                            <li class="mb-2"><strong>Full Name : </strong> <span>{{full_name}}</span></li> 
                            <li class="mb-2"><strong>Email Address : </strong> <span>{{email_address}}</span></li> 
                            <li class="mb-2"><strong>Phone Number : </strong> <span>{{phone_number}}</span></li> 
                            
                            <h4 class="my-3 text-muted">Work Experiences Information</h4>
                            {% for work in work_experience %}
                            <li class="mb-2">
                                <strong>Job Title : </strong><span>{{work.job_title}}</span><br>
                                <strong>Orgnization : </strong><span>{{work.organization}}</span><br>
                                <strong>Duration : </strong><span>{{work.duration}}</span><br>
                            </li>
                            {% endfor %}

                            <h4 class="my-3 text-muted">Education Information</h4>
                            <li class="mb-2">
                                <strong>Education Spcialize : </strong><span>{{education.spcialize}}</span><br>
                                <strong>Education Orgnization : </strong><span>{{education.org}}</span><br>
                                <strong>Duration : </strong><span>{{education.dur}}</span><br>
                            </li>
                            <h4 class="my-3 text-muted">Resume Prediction Information</h4>
                            <li class="mb-2"><strong>Resume Score : </strong> <span>{{resume_score}} %</span></li>  
                            <li class="mb-2"><strong>Resume Prediction : </strong> <span>{{prediction}}</span></li>  
                        </ul>
                    </div>
                    <div class="col-md-6 card py-3" style="max-height: 880px; overflow:hidden;">
                        <h4 class="my-3 text-muted text-center">We Recommend Some Courses For You</h4>
                        {% for course in courses_list %}
                        <div class="col-md-12 mx-auto" style="border-radius: 20px;z-index:0;">
                            <div class="iframely-embed mb-5" style="width:100%;border-radius: 20px;">
                            <div class="iframely-responsive" style="padding-bottom: 52.5%; padding-top: 120px;width:100%;border-radius: 20px;">
                                <a href="{{course|slice:"0:-8"}}" data-iframely-url="//iframely.net/{{course|slice:"-7:"}}" style="border-radius: 20px;"></a>
                            </div>
                            </div>
                            <script async src="//iframely.net/embed.js"></script>
                        </div>
                     {% endfor %}
                    </div>
                </div>
        {% endif %}
    </div>
</section>

<section class="timeline-section section-padding mt-5" id="section_3">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="text-white mb-4">Resume Feedback</h1>
            </div>

            <div class="col-lg-10 col-12 mx-auto">
                <div class="timeline-container">
                        {% if 'Awesome' in objective %}
                        <p class="p-3 text-light mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✔️ {{objective}}</p>
                        {% else %}
                        <p class="p-3 text-light  mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✖️ {{objective|slice:"58"}}<br>{{objective|slice:"58:"}}</p>
                        {% endif %}
              
                        {% if 'Awesome' in declaration %}
                        <p class="p-3 text-light mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✔️ {{declaration}}</p>
                        {% else %}
                        <p class="p-3 text-light  mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✖️ {{declaration|slice:"58"}}<br>{{declaration|slice:"58:"}}</p>
                        {% endif %}
                        {% if 'Awesome' in hobbies %}
                        <p class="p-3 text-light mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✔️ {{hobbies}}</p>
                        {% else %}
                        <p class="p-3 text-light  mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✖️ {{hobbies|slice:"58"}}<br>{{hobbies|slice:"58:"}}</p>
                        {% endif %}
              
                        {% if 'Awesome' in achievements %}
                        <p class="p-3 text-light mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✔️ {{achievements}}</p>
                        {% else %}
                        <p class="p-3 text-light  mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✖️ {{achievements|slice:"58"}}<br>{{achievements|slice:"58:"}}</p>
                        {% endif %}
              
                        {% if 'Awesome' in projects %}
                        <p class="p-3 text-light mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✔️ {{projects}}</p>
                        {% else %}
                        <p class="p-3 text-light  mb-3" style="cursor:pointer;font-size:20px; border-radius: 16px;opacity:0.7;height:100px auto;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;">✖️ {{projects|slice:"58"}}<br>{{projects|slice:"58:"}}</p>
                        {% endif %}
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}